# Abaikan folder sementara dan sensitif
techporia23-main/writable/cache/
techporia23-main/writable/logs/
techporia23-main/writable/session/
techporia23-main/writable/debugbar/

*.session

# Abaikan semua file dengan nama mirip file session
*sess*
